<p id="notice"><%= notice %></p>

<p>
  <strong>Interest:</strong>
  <%= @topic.interest %>
</p>

<p>
  <strong>Website:</strong>
  <%= @topic.website %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
